@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-color: black !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.firstdiv{
    height:722px;
    position: relative;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}


.navbarr{
    display: grid;
    grid-template-columns:1fr repeat(2,auto);
    align-items: center;
    padding: 0 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.icon{
    height: 6rem;
    
}

.sign-btn{
    background-color: #e50914;
    color: white;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 400;
    padding: 4px 17px;
    border: none;
}

.nav-select{
    border: 1px solid rgb(170, 170, 170);
    background-color: transparent;
    color: white;
    padding: 4px 0px 4px 15px;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 40px;
    border-radius: 2px;
}

option{
    background-color: #d5d1d1;
}

.firstdiv-inside{
    text-align: center;
    margin: 45px;
    position: absolute;
    top:28%;  /*33v*/
    left: 0;
    right: 0;
}

.inside-head{
    font-size: 3.125rem;
    margin: 0 auto;
    max-width: 620px;
}

.inside-subhead{
    font-size: 1.625rem;
    font-weight: 400;
    margin-top:  10px;
}
.inside-subhead2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
}


.sec1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-top: 8px solid #222;
    padding: 70px 20px 70px 80px;
    
}

.sec-head{
    font-size: 3.125rem;
    margin: 0 0 1rem 0;
    
}

.sec-subhead{
    font-size: 1.625rem;
    font-weight: 400;
    margin: 0;
}

.sec1div2{
    width: 90%;
    position: relative;
}

.sec1div1{
    padding-right: 60px;
}

.sec-img{
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 8px solid #222;
    padding: 25px 45px 60px 0;
    gap:40px
}

.sec2-img-inside{
    background-color: black;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.75em;
    padding: 0.75em 0.75em;
    gap: 15px;
    position: absolute;
    bottom: 7.5%;
    left: 18%;
    right: 0;
    z-index: 1;
    width: 67%;
}

.sec2div2{
    padding-right: 30px;
}

.sec2div1{
    width: 40vw;
    position: relative;
}

.sec3{
   
    align-items: center;
    padding: 40px 0px 70px 55px;
    
}

.sec3div2{
    width: 100%;
    position: relative;
}

.sec4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-top: 8px solid #222;
    padding: 70px 55px;
    gap:30px
}

.sec4div2{
    padding-right: 10px;
}

.sec4div1{
    width: 95%;
}

.sec5{
    border-top: 8px solid #222;
    padding: 70px 16vw 0px 16vw;
    text-align: center;
}

.footer{
    border-top: 8px solid #222;
    color: rgb(115, 115, 115);
}

.foot-main{
    margin: 70px 12.5vw 35px 12.5vw;
}

.foot-main>div>span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 13px;
    row-gap:15px;
    margin: 30px 0px;
}

.foot-contain > div:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-select{
  color:rgb(115, 115, 115);
  padding: 10px 5px 10px 50px;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid #333;
  margin-bottom: 20px;
}

.foot-op{
    background-color: black;
}

.select{
    position: relative;
}

.globeicon{
    position: absolute;
    left: 17px;
    top: 17px;
}

.globeicon2{
    position: absolute;
    left: 5px;
    top: 12px;
    font-size: 12px;
}


.faq-body{
    color: white;
    background-color: rgb(48, 48, 48);
    text-align: left;
    margin-bottom: 7px !important;
}

.faq-btn{
    background-color: rgb(48, 48, 48) !important;
    color: white !important;
    font-size: 1.625rem !important;
    margin-bottom: 8px !important;
}

.faq-btn:focus{
    box-shadow: none !important;
}

.accordion-button.collapsed::after {

    background: url("https://img.icons8.com/android/24/FFFFFF/plus.png");
  
}
  
.accordion-button:not(.collapsed)::after {
  
    background: url("https://img.icons8.com/material-outlined/24/FFFFFF/multiply--v1.png") !important;
  
}


.faq{
    margin-top: 45px;
    font-size: 1.625rem !important;
}

.faq-item{
    background-color: transparent !important;
}

.faq-lastdiv{
    margin-top: 55px;
    font-size:20px;
}

.input-field{
    position: relative;
    width: 80%;
    height: 60px;
    margin: 20px auto 70px auto;
}

.input-block{
    width: 55% ;
}

.input{
    outline: none;
    font-size: 15px;
    width: 68%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
}

.input-btn{
    background-color: #e50914;
    color: white;
    font-size: 2vw;
    font-weight: 500;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px ;
    border: none;
    height: 100%;
    width: 32%;
    position: absolute;
    top: 0;
    right: 0;
}


.video1{
    position: absolute;
    top: 21%;
    left: 13%;  
    width: 73%;
}

.video2{
    position: absolute;
    top:10%;
    left:19%;
    width: 61%;
}

@media screen and (max-width:549px) {
    .inside-head{
        font-size: 1.75rem;
    }
    .inside-subhead{
        font-size: 1.125rem;
    }

    .firstdiv-inside{
        margin: 5%;
    }

    .sign-btn{
        padding: 0.25rem 0.5rem;
    }
    .nav-select{
        padding: 0.25rem 0 0.25rem 1.375rem;
        margin-right: 3vw;
    }
   
}

@media screen and (max-width:950px) {
    .sec1{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 70px 45px;
    }
    .sec1div1{
        padding-right: 0;
        z-index: 2;
    }
    .sec1div2>img{
        top:-30px;
    }
    .sec-head{
        margin: 0;
        font-size: 2.5rem;
    }
    .sec-subhead{
        font-size: 1.25rem;
        margin-top: 15px;
    }

    .sec2{
        grid-template-columns: 1fr;
        gap:0;
        padding: 70px 45px;
        justify-items: center;
    }

    .sec2div2{
        padding-right: 0;
        text-align: center;
        grid-row: 1/1;
        z-index: 2;
    }

    .sec2div1{
        width: 100%;
    }
    .sec2div1>img{
        width: 100%;
        top:-30px
    }

    .sec4{
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 70px 45px;
        justify-items: center;
    }

    .sec4div2{
        padding-right: 0;
        text-align: center;
        grid-row: 1/1;
    }

    .sec4div1{
        text-align: center;
    }

    .sec5{
        padding: 70px 45px;
    }
    .faq{
        padding: 0 25px;
    }
    .faq-lastdiv{
        margin-top: 20px;
        font-size: 20px;
        padding: 0 55px;
    }
    .input-field{
        width: 90%;
        display: flex;
    }

    .input{
        width: 100%;
        height: 48px;
        justify-content: center;
        
    }
    .input-block{
        width: 90%;
    }
    .input-btn{
        min-width: 74px;
        width: 130px;
        height: 40px;
        margin: 0 auto;
        top:70px;
        right: 0;
        left: 0;
        border-radius: 3px;
    }

    .input-btn>img{
        width: 15px;
    }

    .foot-contain{
        grid-template-columns: repeat(3,1fr);
    }
    .foot-select{
    padding: 10px 5px 10px 50px;
    }

    .firstdiv{
        height: 130vw;
    }

    .faq{
        font-size: 1.25rem !important;
    }
    .faq-btn{
        font-size: 1.25rem !important;
    }
}